<section class="section-work">

  <h3 id="work">Work</h3>


  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">

    <div class="thumb-wrap">
      <div class="thumb-container">
      {% for project in site.data.settings.projects %}
      <a href="{{ project.url }}">
      <label for="{{ project.folder }}">
        <div class="thumb-unit">
          <img src="{{ site.github.url }}/assets/img/work/{{project.folder}}/thumb.jpg" alt="{{ project.name }}" />
        </div>
        <div class="thumb-overlay">
          <strong>{{ project.name }}</strong>
        </div>
      </label>
      </a>
      {% endfor %}
    </div>
    </div>

    <div class="work-wrap">
      <div class="work-container">
      <label for="return">
        <div class="work-return">{% include icons/icon-back.html %}</div>
      </label>
      <h4 class="project-title"></h4>
      <div class="project-load"></div>


    </div>
    </div>

  </div>
</section>